.fotoAbout{
  width: 15%;
  height: 15%;
  border-radius: 50%;

}
.containerFoto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 5%;
}


body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 4rem;
    color: #008080;
    margin-top: 3rem;
    text-align: center;
  }

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


.card{
  transform: translate(20%,20%);


}

.profilephoto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.card{

  border-top: 4px solid #F8BBD0;
  background-color: #BA68C8;

}


.dot {
  height: 50px;
  width: 50px;
  background-color: #ad63b9;
  border-radius: 50%;
  display: inline-block;

}

.social-icons{

  list-style: none;
  display: inline-flex;
      right: 16px;
    position: relative;
}

.social-icons li{

    padding: 10px;
}

.social-icons li i{
  line-height: 50px;
    
    position: relative;
    font-size: 20px;
    color: #fff;
}



.form-text-color{

  color: #df9de8!important;

  
}

.lock_login {
  float: left;
  margin-right: 12px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}


.form-control{

  background-color: transparent;
  margin-top: 10px;
  border: 1px solid #9952a5;
}


.form-control:focus{
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #71357b;
  
}


.register{

  text-decoration: underline;

}

.btn{

  border: none;
  height: 45px;
  transition: all 3s ;
}


.btn:hover{

  background: linear-gradient(to right, #5FC3E4 0%, #E55D87 100%);
 
  
}


.btn:focus{

  box-shadow: none;
}

ul.dropdown-menu.menu_profile.show{
  margin-top: 0px;
  margin-left: -45%;
}


.ball {
	display: block;
	width: 60px;
	height: 60px;
	margin: 50px auto 0;
	border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.combo{
  display: flex;
  
}
.euromillones_balls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
}
.content_balls{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.ball:hover{
  cursor: pointer;

  
}
.form_add{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.form_atr{
  display: flex;
  flex-direction: column;
}
.form_atr input{
  margin-bottom: 5%;
  border: solid 1px black;
  border-radius: 2%;
  margin: 3%;
}
button{
  grid-column: 1/5;
  justify-self: center;
}




.b0 {
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);  
}
.b1 {
  background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 203, 203) 3%, red 60%, rgb(251, 196, 196) 100%);  
}
.b2 {
  background: radial-gradient(circle at 65% 15%, white 1px, rgb(135, 255, 169) 3%, green 60%, rgb(126, 253, 162) 100%);  
}
.b3 {
  background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 231, 152) 3%, rgb(255, 98, 0) 60%, rgb(255, 233, 160) 100%);  
}
@media (max-width: 990px) {
  .content_balls{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
/*change view menu_image to mobile size*/



}

