body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 4rem;
    color: #008080;
    margin-top: 3rem;
    text-align: center;
  }

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


.card{
  transform: translate(20%,20%);


}

.profilephoto{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.card{

  border-top: 4px solid #F8BBD0;
  background-color: #BA68C8;

}


.dot {
  height: 50px;
  width: 50px;
  background-color: #ad63b9;
  border-radius: 50%;
  display: inline-block;

}

.social-icons{

  list-style: none;
  display: inline-flex;
      right: 16px;
    position: relative;
}

.social-icons li{

    padding: 10px;
}

.social-icons li i{
  line-height: 50px;
    
    position: relative;
    font-size: 20px;
    color: #fff;
}



.form-text-color{

  color: #df9de8!important;

  
}

.lock_login {
  float: left;
  margin-right: 12px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}


.form-control{

  background-color: transparent;
  margin-top: 10px;
  border: 1px solid #9952a5;
}


.form-control:focus{
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #71357b;
  
}


.register{

  text-decoration: underline;

}

.btn{

  border: none;
  height: 45px;
  transition: all 3s ;
}


.btn:hover{

  background: linear-gradient(to right, #5FC3E4 0%, #E55D87 100%);
 
  
}





.btn:focus{

  box-shadow: none;
}

ul.dropdown-menu.menu_profile.show{
  margin-top: 0px;
  margin-left: -45%;
}