body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-top: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  font-family: fantasy;
}

.containerFoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoAbout {
  width: 10%;
  height: 10%;
  border-radius: 100%;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: 140px; /* Ajusta la altura mínima según tus necesidades */
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social-link {
  margin: 10px;
  font-size: x-large;
  color: #fff;
}

.social-link:hover {
  color: #ccc;
}

/* Solución para secciones más grandes que la altura de la página */
section {
  min-height: calc(100vh - 150px); /* Ajusta la altura según el tamaño del footer */
  padding-bottom: 150px; /* Ajusta el valor según la altura del footer */
}
