<!--Create page about us with multiple sections-->
<!DOCTYPE html>
<html lang="en">
<head>
   
    {% include '/components/links.html' %}

    <style>
        img{
            width: 15%;
            height: 15%;
            border-radius: 50%;

        }
        .containerFoto{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
    </style>
</head>
<body>
    {% include '/components/nav.html' %}
    <div class="container">
        <h1>About Us</h1>
        <div class="containerFoto">
          <!--<img src="{{url_for('static', filename='FotoCarnet.jpg')}}" align="middle" class="img-fluid" />-->
    </div>
          <div class="col-md-6">
            <p>Creado por <strong>Ignacio Pinto Rodriguez</strong></p>
              <p>Desarrollado en el curso de Programación Web</p>
              <p>IES MARIA DE ZAYAS Y SOTOMAYOR</p>
              <p>2023</p>

          </div>
      </div>
      
      <div class="container mt-5">
        <h2>Contact Us</h2>
        <form action="submit.php" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
















    {% include '/components/footer.html' %}
    
</body>
</html>