<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/AddBoleto.css') }}">
    {% include '/components/links.html' %}
</head>

<body>
    {% include '/components/nav.html' %}
    <br>
    <br>
    <div class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
            <br>

    </div>

    <div class="container">
        <form class="form-add" method="POST" action="{{ url_for('add') }}">
          <div class="form-atr">
            <label for="loteria">Loteria</label>
            <select name="loteria" id="loteria" required>
              <option value="euromillones">Euromillones</option>
              <option value="primitiva">Primitiva</option>
              <option value="bonoloto">Bonoloto</option>
              <option value="quiniela">Quiniela</option>
            </select>
          </div>
          <div class="form-atr">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" id="fecha" required>
          </div>
    
          <div class="form-atr">
            <label for="apuesta">Apuesta</label>
            <input type="text" name="apuesta" id="apuesta" required>
          </div>
    
          <div class="form-atr">
            <label for="complementario">Complementario</label>
            <input type="text" placeholder="01-11" name="complemento" id="complementario" required>
          </div>
    
          <button class="btn_send" type="submit">Enviar</button>
        </form>


        <h2>AÑADIR BOLETO ATRAVES DE IMAGEN</h2>
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('add') }}">
          <input type="file" name="image" accept="image/*" required>
          <button class="btn_send" type="submit">Enviar</button>
        </form>
      </div>
    
    

    {% include '/components/footer.html' %}



</body>

</html>