<!DOCTYPE html>
<html lang="en">

<head>
    {% include '/components/links.html' %}
</head>

<body>
    {% include '/components/nav.html' %}
    <br>
    <br>

    <form method="POST" action="{{ url_for('add') }}">
        <label>Loteria</label>
        <select name="loteria">
            <option value="euromillones">Euromillones</option>
            <option value="primitiva">Primitiva</option>
            <option value="bonoloto">Bonoloto</option>
            <option value="quiniela">Quiniela</option>
        </select>
        <label>Fecha</label>
        <input type="date" name="fecha" id="fecha">
        <label>Apuesta</label>
        <input type="text" name="apuesta" id="apuesta">
        <label>Complementario</label>
        <input type="text" placeholder="01-11" name="complemento" id="complementario">
        <button type="submit">Enviar</button>
    </form>
    <br>
    <br>

    <h2>AÑADIR BOLETO ATRAVES DE IMAGEN</h2>
    <form method="POST" enctype='multipart/form-data' action="{{ url_for('add') }}">
        <!--input file image and any accept format png jpeg jpg-->
        <input type="file" name="image" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
    
    

    

  




    {% include '/components/footer.html' %}



</body>

</html>