<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/components/links.html' %}
</head>
<body>
    {% include '/components/nav.html' %}
    <h1>ESTAS EN AÑADIR BOLETO</h1>
    <label>Loteria</label>
    <select>
        <option value="1">Euromillones</option>
        <option value="2">Primitiva</option>
        <option value="3">Bonoloto</option>
        <option value="4">Quiniela</option>
        <option value="5">Quinigol</option>
        <option value="6">Loteria Nacional</option>
        <option value="7">Loteria Navidad</option>
        <option value="8">Loteria Niño</option>
    </select>
</body>
</html>