<!DOCTYPE html>
<html lang="en">

<head>
    {% include '/components/links.html' %}

</head>

<body>
    {% include '/components/nav.html' %}
    <h1>Ultimos Resultados</h1>
    <div class="content_balls">
        {% for i in range(nombresLoterias | length) %}
        <div class="euromillones_balls">


            <h1 style="border: 2px solid black;">{{ nombresLoterias[i] }}</h1>
            <div class="combo">
                {% if resultsEuro[i] is not none %}
                {% for number in resultsEuro[i] %}
                <div class="ball b{{i}}">{{ number }}</div>
                {% endfor %}
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>





    {% include '/components/footer.html' %}
    <!-- Botón de apertura del modal -->
    <!-- jQuery Code (to Show Modal on Page Load) -->

</html>