<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/components/links.html' %}

</head>
<body>
    {% include '/components/nav.html' %}
      <h1>ESTAS EN HOME</h1>
        {{name}}
        {{nombresLoterias}}
        <div class="content_balls">
        {% for i in range(nombresLoterias | length) %}
        <div class="euromillones_balls">

        <h1>{{ nombresLoterias[i] }}</h1>
        <div class="combo">
        {% for number in resultsEuro[i] %}
        <div class="ball b{{i}}">{{ number }}</div>
        {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>
        <p>Ultimos resultados Euromillones: {{resultsEuro[0]}}</p>
        <p>Ultimos resultados Bonoloto: {{resultsEuro[1]}}</p>
        <p>Ultimos resultados Primitiva: {{resultsEuro[2]}}</p>
        <p>Ultimos resultados el Gordo: {{resultsEuro[3]}}</p>





    {% include '/components/footer.html' %}
    <!-- Botón de apertura del modal -->
<!-- jQuery Code (to Show Modal on Page Load) -->

</html>