<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  {% include '/components/links.html' %}

</head>

<body>
  {% include '/components/nav.html' %}

  <div class="refresh-container">
    <button class="refreshButton">
      <a href="{{ url_for('marcadores') }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    </button>
  </div>

  <div class="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        <br>

</div>

  <table id="tabla-marcadores" class="table">
    <thead>
      <tr class="encabezado">
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Adds</th>
        <th scope="col">Date</th>
        <th scope="col">Prize</th>
        <th scope="col">Status</th>
        <th scope="col"></th>


      </tr>
    </thead>
    <tbody>
      
      {% for l in t %}

      {% set estado_class = '' %}

      {% if l.estado == 'acertado' %}
      {% set estado_class = 'text-success' %}
      {% elif l.estado == 'no acertado' %}
      {% set estado_class = 'text-danger' %}
      {% else %}
      {% set estado_class = 'text-warning' %}
      {% endif %}


      <tr class="datosTabla boleto boleto-{{ l.sorteo }}-{{ l.fecha }}-{{ l.numero }}">
        <form method="POST" action="{{ url_for('marcadores') }}">
          <td class="sorteo {{ estado_class }}" data-value="{{ l.sorteo }}">{{ l.sorteo }}</td>
          <td class="numero {{ estado_class }}" data-value="{{ l.numero }}">{{ l.numero }}</td>
          <td class="extra {{ estado_class }}" data-value="{{ l.extra }}">{{ l.extra }}</td>
          <td class="fecha {{ estado_class }}" data-value="{{ l.fecha }}">{{ l.fecha }}</td>
          <td class="premio {{ estado_class }}" data-value="{{ l.premio }}">{{ l.premio }}</td>
          <td class="estado {{ estado_class }}" data-value="{{ l.estado }}">{{ l.estado }}</td>
          <td class=""><button type="submit" name="data"
              value="{{ l.sorteo, l.fecha, l.numero, l.extra }}">Borrar</button></td>
        </form>
      </tr>
      {% endfor %}

    </tbody>
  </table>




  {% include '/components/footer.html' %}

</body>

</html>