<!DOCTYPE html>
<html>
<head>
  {% include '/components/links.html' %}

</head>
<body>
  {% include '/components/nav.html' %}
  <table class="table table-dark">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Adds</th>
        <th scope="col">Date</th>
        <th scope="col">Prize</th>
        <th scope="col">Status</th>
        <th scope="col"></th>


      </tr>
    </thead>
    <tbody>
      {% for l in t %}
      <tr class="table-dark">
        <th scope="row">1</th>
        <form method="POST" action="{{ url_for('marcadores') }}">
        <td class="table-dark" value="{{ l.sorteo }}">{{ l.sorteo }}</td>
        <td class="table-dark" value="{{ l.numero }}">{{ l.numero }}</td>
        <td class="table-dark" value="{{ l.extra }}">{{ l.extra }}</td>
        <td class="table-dark" value="{{ l.fecha }}">{{ l.fecha }}</td>
        <td class="table-dark" value="{{ l.premio }}">{{ l.premio }}</td>
        <td class="table-dark" value="{{ l.estado }}">{{ l.estado }}</td>
          <td class="table-dark"><button type="submit" name="data" value="{{ l.sorteo, l.fecha, l.numero, l.extra }}">Borrar</button></td>
        </form>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>


  
  {% include '/components/footer.html' %}

</body>
</html>