
    <footer>
      <section>
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fa fa-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fa fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background: linear-gradient(to right, #5FC3E4 0%, #a4a0a1 100%);"
          href="#!"
          role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <div>
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/nachetons/LoteriaFlask">Loteria</a>
  
      <a class="text-white" href="https://github.com/nachetons">nachetons</a> 
    </div>

    </footer>
