
<footer class="footer">
  <div class="footer-container">
    <div class="social-media">
      <a class="social-link" href="#!"><i class="fa fa-facebook"></i></a>
      <a class="social-link" href="#!"><i class="fa fa-twitter"></i></a>
      <a class="social-link" href="#!"><i class="fa fa-google"></i></a>
      <a class="social-link" href="#!"><i class="fa fa-instagram"></i></a>
      <a class="social-link" href="#!"><i class="fa fa-linkedin"></i></a>
      <a class="social-link" href="#!"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-info">
      <p>&copy; 2023 Loteria. Todos los derechos reservados.</p>
      <p>Creado por <a href="https://github.com/nachetons">nachetons</a></p>
    </div>
  </div>
</footer>