<nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Loteria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="../results">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="../about">About</a>
          </li>
          
        
            {% if g.user_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Markers
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Añadir</a></li>
                <li><a class="dropdown-item" href="../marcadores">Check</a></li>
                <li><a class="dropdown-item" href="#">Random</a></li>
              </ul>
            </li>
          </ul>

            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-2" class="menu_image"> 
            <li class="nav-item dropdown">
                <a class="nav-link text-dark h5 nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" target="blank"><img class='profilephoto' src="{{ url_for('static', filename='profileImage.jpg') }}"></a>
              </a>
              <ul class="dropdown-menu menu_profile" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../profile">Profile</a></li>
                <li><a class="dropdown-item" href="../settings">Settings</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          {% else %}
        </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2" class="menu_image"> 
          <a class="nav-link text-dark h5" target="blank" id="myBtn" data-bs-toggle="modal" data-bs-target="#extraLargeModal"><img class='profilephoto' src="{{ url_for('static', filename='profileDefault.png') }}"></a>

          {% include '/components/login.html' %}  
          {% endif %}

          </li>
        </ul>
      </div>
    </div>
  </nav>